:root{
    --liner-color-one:rgba(3, 22, 41, 0.8);
    --liner-color-two:rgba(41, 2, 12, 0.8);
}
.mt-6 {
    margin-top: 6rem;
}
@font-face {
  font-family: "vazir";
  src: url(/fonts/Vazir.eot?04fa21193336c3e1fa9870b7bd2face5);
  src: url(/fonts/Vazir.eot?04fa21193336c3e1fa9870b7bd2face5?#iefix) format("embedded-opentype"), url(/fonts/Vazir.woff2?0236d12799f12ebefd2d1451b6ba69f2) format("woff2"), url(/fonts/Vazir.woff?a30b9598c58099f1584cd2e1d074004b) format("woff"), url(/fonts/Vazir.ttf?8698ab7164cb8aa9f35b0df0e3a335df) format("truetype");
}
@font-face {
  font-family: "pacifico";
  src: url(/fonts/Pacifico.eot?ee7e6ed506f2b7eb9c013d420d9e8ccf);
  src: url(/fonts/Pacifico.eot?ee7e6ed506f2b7eb9c013d420d9e8ccf) format("embedded-opentype"), url(/fonts/Pacifico.woff2?7f16cc918967575536a072bae726e4ca) format("woff2"), url(/fonts/Pacifico.woff?bdcb53012545954c6fcaa0ea31d1aaa6) format("woff"), url(/fonts/Pacifico.ttf?4253021875537a1fd1b5410e563b25c5) format("truetype");
}
body {
  font-family: "vazir", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.navbar img.img-profile {
  width: 1.7rem;
  height: 1.7rem;
}
.navbar-brand {
  font-family: "pacifico", Arial, Helvetica, sans-serif;
}

.dropdown-toggle {
  cursor: pointer;
}
.dropdown-item {
  font-size: 0.8rem;
}

.nav-item {
  padding: 0.3rem 0.4rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: aqua;
}

#header {
  background: linear-gradient(to left, var(--liner-color-one), var(--liner-color-two)), url(/images/header.jpg?f6d133732cfa043bdec8c25c6b90ff12) center/cover;
  height: 450px;
}

.btn {
  padding: 0.4rem 0.9rem;
  font-size: 0.8rem;
}

#register {
  background: linear-gradient(to left, var(--liner-color-one), var(--liner-color-two)), url(/images/register.jpg?94357a113b2b5868cea66919add77ede) center/cover;
  min-height: 100vh;
}
#register form input {
  box-shadow: 1px 1px 5px var(--liner-color-one);
}

#login {
  background: linear-gradient(to left, var(--liner-color-one), var(--liner-color-two)), url(/images/register.jpg?94357a113b2b5868cea66919add77ede) center/cover;
  min-height: 100vh;
}
#login form input {
  box-shadow: 1px 1px 5px var(--liner-color-one);
}

@media screen and (max-width: 576px) {
  input::-moz-placeholder {
    font-size: 0.8rem;
  }
  input::placeholder {
    font-size: 0.8rem;
  }
}
