@font-face {
    font-family: 'vazir';
    src: url('../../fonts/Vazir.eot');
    src:url("../../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Vazir.woff2") format("woff2"),
        url("../../fonts/Vazir.woff") format("woff"),
        url("../../fonts/Vazir.ttf") format("truetype");

}

@font-face {
    font-family: 'pacifico';
    src: url('../../fonts/Pacifico.eot');
    src:url("../../fonts/Pacifico.eot") format("embedded-opentype"),
        url("../../fonts/Pacifico.woff2") format("woff2"),
        url("../../fonts/Pacifico.woff") format("woff"),
        url("../../fonts/Pacifico.ttf") format("truetype");

}
@import url('./_varibles.scss');
@import url('./_utilities.scss');

body {
    font-family: 'vazir', Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.navbar{
    & img.img-profile{
        width: 1.7rem;
        height: 1.7rem;
    }

    &-brand{
    font-family: 'pacifico', Arial, Helvetica, sans-serif;

    }
}

.dropdown{
    &-toggle{
        cursor: pointer;
    }

    &-item{
        font-size: 0.8rem;
    }
}

.nav-item{
    padding: 0.3rem 0.4rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: aqua;
}

#header {
    background: linear-gradient(to left, var(--liner-color-one), var(--liner-color-two)), url("../../images/front/header.jpg") center/cover;
    height: 450px;
}
.btn {
    padding: 0.4rem 0.9rem;
    font-size: 0.8rem;
}


#register{
    background: linear-gradient(to left, var(--liner-color-one), var(--liner-color-two)),url('../../images/front/register.jpg') center/cover;
    min-height: 100vh;
    & form input{
        box-shadow: 1px 1px 5px var(--liner-color-one);
    }
}

#login{
    background: linear-gradient(to left, var(--liner-color-one), var(--liner-color-two)),url('../../images/front/register.jpg') center/cover;
    min-height: 100vh;
    & form input{
        box-shadow: 1px 1px 5px var(--liner-color-one);
    }
}



@media screen and (max-width: 576px){
    input::placeholder{
        font-size: 0.8rem;
    }
}
